.aside__content {
    background-image: url(../assets/images/Background.png); /* Exemplo: se a imagem for para o aside */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    padding: 2rem;
        
    & .festivite {
        margin-top: 1rem;
        margin-bottom: 0.25rem;
    }

    & .title {
        font: var(--text-md)
    }
}


