.footer {
    border-top: 1px solid var(--input-stroke);

    & .footer-info {
        margin: 2.5rem 0 3rem 0;
        & .checkbox-wrapper {
            position: relative;
            display: flex;
            gap: 12px;
            margin-bottom: 8px;

            & input,
            & input:focus,
            & input:hover {
                appearance: none;
                opacity: 0;
                position: absolute;
                inset: 0;
                z-index: 1;
                cursor: pointer;
                display: block;
            }

            & span {
                display: block;
                height: 20px;
                width: 20px;
                background-image: url(../assets/icons/unchecked.svg);
            }

            & input[type="checkbox"]:checked + span {
                background-image: url(../assets/icons/checked.svg);
            }
        }
    }
}