.main {
    background-color: var(--shape-body);
    padding-inline: 130px;
    padding-block: 80px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow-y: scroll;
    overflow-x: hidden;

    & h2 {
        font: var(--text-xl);
        color: var(--text-heading);
    }
}


