form {
    padding-block: 40px;

    & fieldset {
        border: none;
    }

    & legend {
        display: flex;
        align-items: center;
        gap: 12px;

        & h3 {
            font: var(--text-lg);
            color: var(--text-heading);  
        }  
    } 

    & .section-title {
        margin-bottom: 12px;
    }

    & .form-actions {
        display: flex;
        justify-content: flex-end;

        & .button {
            background-color: var(--brand-dark);
            border: none;
            display: flex;
            align-items: center;
            color: var(--text-heading);
            gap: 12px;
            padding: 13px 20px;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                background-color: var(--brand-md);
            }
        }
    }

}
