form {
    padding-block: 40px;

    & fieldset {
        border: none;
    }

    & legend {
        display: flex;
        align-items: center;
        gap: 12px;

        & h3 {
            font: var(--text-lg);
            color: var(--text-heading);
            
        }  
    } 

}